In [1]:
from utils.db import get_engine
import pandas as pd

engine = get_engine()

# SQL 실행
df = pd.read_sql("SHOW TABLES;", con=engine)

df.head()

         Tables_in_brp
0           kbo_active
1     kbo_active_total
2  kbo_final_team_2025
3          kbo_retired
4    kbo_retired_total

In [4]:
df = pd.read_sql("SELECT COUNT(DISTINCT pic_url) AS unique_pic_url_count FROM kbo_active", con=engine)
df.head()

   unique_pic_url_count
0                   278

In [6]:
df = pd.read_sql("SELECT * FROM kbo_active", con=engine)
df.head()

for idx, col in enumerate(df.columns):
    print(f"{idx} - {col}")

0 - name
1 - pic_url
2 - birth
3 - season
4 - team
5 - AVG
6 - G
7 - PA
8 - AB
9 - R
10 - H
11 - 2B
12 - 3B
13 - HR
14 - TB
15 - RBI
16 - SB
17 - CS
18 - BB
19 - HBP
20 - SO
21 - GDP
22 - SLG
23 - OBP
24 - E

In [7]:
df.columns

Index(['name', 'pic_url', 'birth', 'season', 'team', 'AVG', 'G', 'PA', 'AB',
       'R', 'H', '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO',
       'GDP', 'SLG', 'OBP', 'E'],
      dtype='object')